extends layout

block content
  img(id='rect', src='../images/gray_rect.png')
  h1 Steppr
  .col-xs-offset-5
    |  #{totalSteps} steps taken
  h4 You:
  .col-xs-8
    .totalUserSteps.alert.alert-success(style='display: inline-block;') #{totalUserStepsToday} steps
  .col-xs-2
    .userPercentage.alert.alert-danger(style='display: inline-block;') #{userPercentage}%
  br
  br
  br
  br
  .col-xs-12
    .alert Today: #{totalStepsToday} steps - #{usersToday} users
