extends layout

block content
  img(id='rect', src='../images/gray_rect.png')
  img(class='center' src='../images/steppr_logo.png')
  div#name
    h1 Steppr
    h4.alert(style='text-align: center;') #{totalStepsLifetime} Steps taken on Steppr
  br
  p#totalUserSteps.alert.alert-info You've taken #{totalUserStepsToday} steps today
  // p#userPercentage.alert.alert-warning You own: #{userPercentage}% of todays steps
  p#totalStepsToday.alert.alert-success #{usersToday} people have given #{totalStepsToday} steps today
  a(href='/moves')
    img(id='moves_logo', src='../images/moves_logo.png')


// bootstrap. use columns. profit

//little icon in bottom right of gray box to switch to user > group > steppr
                                        Steps, %, total <       Not in a group > join?
