extends layout

block content
  img(id='rect', src='../images/gray_rect.png')
  img(class='center' src='../images/steppr_logo.png')
  a(href='/moves')
    i(class="fa fa-refresh")
  div#name
    h1 Steppr
    h4.alert(style='text-align: center;') #{totalStepprSteps} steps taken on Steppr
    h4.col-md-4.alert(style='text-align: center;')  Today: #{totalStepsToday}  steps taken
      span.col-md-4.col-md-offset-4 #{usersToday} users
  br
  p#totalUserSteps.alert.alert-success You're at: #{totalUserStepsToday} steps
  .col-md-4
    p#userPercentage.alert.alert-danger That's #{userPercentage}% of todays steps
