extends layout

block content
  h1 #{group.groupName} has taken #{group.totalGroupStepsToday} steps today
  each member in locals.group.members
    li #{member.username} - #{member.stepsToday} steps
  br
  br
  br
  a(href='/groups/join/#{group.name}')  Join #{group.name}
