extends layout

block content
  .row
    h4.col-xs-5 #{group.groupName}
    h4.col-xs-7  #{group.totalGroupStepsToday} steps today
  br
  br
  each member in locals.group.members
    li.alert #{member.username} - #{member.stepsToday} steps
  br
  br
  br
  a(href='/groups/join/#{group.groupName}').alert.alert-success.col-xs-4  Join #{group.groupName}
  a(href='/groups/leave/#{group.groupName}').alert.alert-error.col-xs-4.col-xs-offset-2  Leave #{group.groupName}
